<nav class="container-fluid">
    <div class="site-title">
        <a href="/"><h1>Soft-app</h1></a>
        <!-- <p>Hey Guys, Welcome to DataBase App!!</p> -->
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/students-list">Student</a></li>
        <li><a href="/base/create">Student Registration</a></li>
        <li><a href="/invoice">Invoice</a></li>         
        <!-- <li><a href="/expenditure">Paid Invoice</a></li> -->
    </ul>
</nav>