<!DOCTYPE html>
<html lang="en">
    <!-- head tag -->
    <%- include('./partials/head.ejs') %>   
<body>
    <!-- nav bar -->
    <%- include('./partials/nav.ejs') %>   


     <div style="font-weight: 800;" class="not-found content">
        Opps, page not found :)..pls check the URL and try again
     </div>


     <!-- footer -->
     <%- include('./partials/head.ejs') %>   
</body>
</html>